<div id="badge-view" class="widget">
  <h2>Show Badge</h2>
  
  <%= image_tag badge_image_badge_path(:id => @badge.id), :class => 'badge-image' %>
  
  <p>Name:<br />
  <%= @badge.name %></p>
  
  <p>Description:<br/>
  <%= @badge.description %></p>
  
  <% if current_user.admin %>
    <p><%= link_to 'Edit Badge', edit_badge_path(@badge) %>&nbsp;&nbsp;<%= link_to 'Delete Badge', badge_path(@badge), :method => 'delete' %>
  <% end %>
  
  <p><%= link_to 'Pin this badge', new_pin_path(:badge_id => @badge.id) %></p>
  
  <p><%= link_to 'Back', root_path %></p>
  
</div>