<!DOCTYPE html>
<html>
<head>
  <title>The Badger</title>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css' %>
  <%= stylesheet_link_tag 'badger' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="site">
    <div id="header">
      <div id="title">
        <h1>The Badger</h1>
      </div>
      <div id="greeting">
        <% if user_signed_in? %>
          <%= "#{current_user.username} (#{current_user.type})" %>&nbsp;&nbsp;<%= link_to 'Log out', destroy_user_session_path %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path %>
          or 
          <%= link_to 'Log in', new_user_session_path %>
        <% end %>
      </div>
    </div>
    <div id="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <div id="footer">
    </div>
  </div>
</body>
</html>
